<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{asset "style.css"}}">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Vollkorn&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="content-wrapper">
        <div class="logo-div"><a href="/" class="logo">{{@site.title}}</a></div>
        <div class="nav-div">
          <div id="sections">
            {{#if @site.navigation}}
              {{navigation}}
            {{/if}}

            <div class="separator"></div>
            <a class="nav-elem" href="/authors">Authors</a>
            <a class="nav-elem" href="/about">About</a>
          </div>
        </div>

        <div class="content">
          {{{body}}}
        </div>

      </div>
    </div>
  </body>
</html>
