{{!< default}}
{{#foreach posts}}
  <div class="article">

    {{#if primary_tag}}
      <span class="article-section">{{primary_tag.name}}</span>
    {{/if}}

    <span class="article-date">{{date format="MMM D, YYYY"}}</span>
    <a class="article-title" href="{{url}}">{{title}}</a>
  </div>
{{/foreach}}
