* {
margin: 0;
padding: 0;
}

body {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
    letter-spacing: -0.3px;
    /* background-color: #eee; */
    background-color: #fff;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: static;
  background-color: #fff;
  height: 100%;
  padding-top: 35px;
}

.content-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

.logo-div {
  /* text-align: center; */
  margin-bottom: 10px;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
}

.nav-div {
  /* text-align: center; */
  margin-bottom: 50px;
}

.nav-elem {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  margin-right: 12px;
  position: relative;
}

.separator {
  background-color: #bbb;
  width: 1px;
  height: 13px;
  display: inline-block;
  margin-right: 12px;
}

.article-section {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 12px
}

.article-date {
  font-family: 'Roboto', sans-serif;
  color: #9f9f9f;
  font-size: 13px;
  font-weight: bold;
}

.article-title {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.article-title:hover{
  color: #444;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.article {
  margin-bottom: 25px;
}

.section-label {
  font-weight: bold;
  color: #000;
}

#sections {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

a:hover {
  color: #898989;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.nav {
  list-style: none;
  display: inline;
}

ul li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  margin-right: 12px;
}
